Hello <%= name %>. You have been <%= name %> for <%= age %> years!  Congratulations for staying alive!  What color is your hair?

<form method = "post" action = "/hair">
	<input type = "color" name = "hair">
	<input type = "submit">
</form>